@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap');

*, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --afstand-rand: 1.4rem;
    --afstand-klein: 0rem;
    --afstand-mini: 0rem;
    --kleur-achtergrond: rgb(255, 250, 250);
    --kleur-tekst: rgb(18, 72, 18);
}

@media screen and (min-width: 800px) {
    :root {
    --afstand-rand: 3rem;
    --afstand-klein: 0.8rem;
    --afstand-mini: 0rem;
    --kleur-achtergrond: rgb(255, 250, 250);
}
}

::-webkit-scrollbar {
  width: var(--afstand-mini);
}

::-webkit-scrollbar-track {
  background: #ffffff; /* dark background */
  border-radius: var(--afstand-mini);
}

::-webkit-scrollbar-thumb {
  background: rgb(151, 155, 37);
  border-radius: var(--afstand-mini);
}

html {font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; color: var(--kleur-tekst);}

h1, h2, h3 {font-weight: 400;}
img {
    width: 100%;
    line-height: 0;
    max-height: 100svh;
    object-fit: contain;
}

body {
    width: 100vw;
    height: 100svh;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #fefaf7;

    background-color: var(--kleur-achtergrond);
}

div#kaart {
    background-image: url(papier4.jpg);
    background-size: cover;
    width: calc(100% - 2 * (var(--afstand-klein)));
    height: calc(100% - 2 * (var(--afstand-klein)));
    position: relative;
}

section {
    position: absolute;
    padding: calc((2 * var(--afstand-rand)) + var(--afstand-klein));
    height: calc(100%);
    width: calc(100%);
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}


#kanten>img{position: absolute; height: calc((var(--afstand-rand) * 2) - var(--afstand-klein));}
#kanten>img:nth-of-type(1) {top: var(--afstand-rand); left: 50%; translate: -50% -50%;}
#kanten>img:nth-of-type(2) {right: var(--afstand-rand); top: 50%; translate: 50% -50%; transform: rotate(90deg);}
#kanten>img:nth-of-type(3) {bottom: var(--afstand-rand); left: 50%; translate: -50% 50%;}
#kanten>img:nth-of-type(4) {top: 50%; left: var(--afstand-rand); translate: -50% -50%;  transform: rotate(90deg);}

#eerste p {font-size: 2rem;}

section#eerste {
    font-family: "Monsieur La Doulaise", cursive; font-weight: 400;
}

section {
    display: none;
}



h1 {
    font-size: 3rem;
}

button {
    z-index: 20;
    position: absolute;
    bottom: calc((2 * var(--afstand-rand) + var(--afstand-klein)));
    left: 50%;
    translate: -50% 0%;

    color: rgb(37, 37, 37);
    border: none;
    outline: 1px dotted rgb(37, 37, 37);
    outline-offset: -4px;
    cursor: pointer;
    background: hsl(0deg 0% 75%);
    box-shadow:
        inset -1px -1px #292929,
        inset 1px 1px #fff,
        inset -2px -2px rgb(158, 158, 158),
        inset 2px 2px #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 5px 30px;
}

button:active {
    box-shadow:
        inset -1px -1px #fff,
        inset 1px 1px #292929,
        inset -2px -2px #ffffff,
        inset 2px 2px rgb(158, 158, 158);
}


